* {
    font-family: "Arial", sans-serif;
}

table tr.odd td,tr.odd th {
    background-color:rgba(0, 100, 100, 0.3);
}

table tr.even, tr.even th{
    background-color:white;
}

table.layout_table{
    border-spacing: 10px;
    border-collapse: separate;
}

a{
   color: rgba(0,50,50,100);
}

#projects_list{
 vertical-align:top;
 padding: 0px 0px 0px 0px;
}

#projects_list li{
    list-style-type: none;
    margin:0 0 10px 0;
}

#content{
    position: absolute;
    margin-top: 50px;
    margin-left: 0px;
    width: 1000px;
}

#navigation_bar{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

#navigation_bar ul{
    margin-left: 0px;
    padding-left: 0px;
}


.error{
  color:red;
}

#navigation_bar li{
    display: inline;
}

#navigation_bar li{
    float: left;
}

#navigation_bar a{
    display: block;
    width: 100px;
}


#navigation_bar a:link, #navigation_bar a:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:rgba(0,100,100,100);
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}


.user_form{
    border: 1px solid #000000;
    width: 510px;
    padding: 10px 10px 10px 10px;
}
