.form{
    padding: 0px 10px 0px 10px;
    background-color: white;
    width: 500px;
}

.form table td{
    padding-top: 7px;
    padding-bottom: 7px;
}
#gameBoard{
    visibility: hidden;
}

#mainBar table td{
    padding-right: 10px;

}
#highscores-table{
    visibility: hidden;
    border: none;
}

.form, #highscores-table, #gameBoard{
    padding-top: 10px;
    padding-left: 10px;
}