#mainBar{
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
}

.form{
    padding: 0px 10px 0px 10px;
    position: absolute;
    margin-top: 60px;
    margin-left: 0px;
    background-color: white;
    visibility: hidden;
    border: solid black 2px;
}

.form table td{
    padding-top: 7px;
    padding-bottom: 7px;
}
#gameBoard{
    position: absolute;
    margin-top: 60px;
    margin-left: 0px;
    visibility: hidden;
}

#mainBar table td{
    padding-right: 10px;

}
#highscores-list{
    position: absolute;
    margin-top: 60px;
    margin-left: 0px;
    visibility: hidden;
}
