#navigation_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation_bar li {
    float: left;
}

#navigation_bar a:link, #navigation_bar a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(0,100,100,1);
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

#navigation_bar a:hover, #navigation_bar a:active {
    background-color: rgba(0,100,100,0.8);
}

